/* Write your CSS here */
.project-image {
  width: 100%;
}
.project-duration-container {
  display: flex;
  flex-direction: column;
}
.title {
  color: #171f46;
  font-family: 'Roboto';
}
.calender-duration-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.calender-icon {
  height: 15px;
  width: 15px;
}
.duration {
  color: #1e293b;
  font-family: 'Roboto';
  font-weight: bold;
}
.description {
  font-family: 'Roboto';
  margin-bottom: 10px;
}
.visit {
  color: #0967d2;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}
@media (min-width: 768px) {
  .project-duration-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .calender-duration-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
